<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36}-%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../Logs/stock.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date [%thread] %-5level %logger{36}
				-%msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
	      	<fileNamePattern>../Logs/empmgt-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	       	<maxFileSize>1MB</maxFileSize>    
	       	<maxHistory>30</maxHistory>
	       	<totalSizeCap>1GB</totalSizeCap>
	    </rollingPolicy>
		<encoder>
			<pattern>%-4relative %date [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.stock.*" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>